/* Style untuk elemen header di atas SVG */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  color: #ffffff;
  z-index: 10;
  display: flex;
  flex-direction: column; /* Tambahkan ini untuk menata teks di bawah logo */
  align-items: center; /* Pastikan semua elemen terpusat secara horizontal */
}

.logo-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px; /* Sesuaikan padding sesuai kebutuhan */
}

.logo {
  height: 50px; /* Sesuaikan ukuran logo */
  width: auto;
}

.school-logo {
  flex: 1;
  text-align: center;
}

.mpk-logo, .osis-logo {
  height: 50px; /* Sesuaikan ukuran logo MPK dan OSIS */
  width: auto;
}

.header img {
  display: block;
  margin: 0 auto;
}

.header h1 {
  margin: 10px 0 0;
  font-family: Arial, sans-serif; /* Sesuaikan dengan font yang Anda inginkan */
  font-size: 24px;
  font-weight: bold;
}

.header h2 {
  margin: 0;
  font-family: Arial, sans-serif; /* Sesuaikan dengan font yang Anda inginkan */
  font-size: 18px;
  font-weight: normal;
}

.btn-block {
  width: 100%;
  font-size: 18px; 
}


